NEXT_PUBLIC_APPWRITE_PROJECT_ID = "happysrt"
NEXT_PUBLIC_APPWRITE_PROJECT_NAME = "HappySRT"
NEXT_PUBLIC_APPWRITE_ENDPOINT = "https://[region].cloud.appwrite.io/v1" #replace [region] with the region of your appwrite endpoint
SQL_DATABASE = "" # sql db url

# Backblaze B2 (S3-compatible)
B2_S3_REGION="us-[east/west]-xxx" # region of bucket
B2_S3_ENDPOINT=""   # example; use your bucket's region endpoint
B2_BUCKET="" # name of the bucket
B2_KEY_ID=""
B2_APPLICATION_KEY=""

NEXT_PUBLIC_HAPPYSRT_WS_URL="" # for ws-happysrt wherever you host it

# Local websocket server
PORT="8080"

# Deepgram
DEEPGRAM_API_KEY=""

# OpenAI
OPENAI_API_KEY = ""

# UpliftAI
UPLIFTAI_API_KEY=""
UPLIFTAI_ENDPOINT="https://api.upliftai.org/v1/transcribe/speech-to-text"

# Stripe
STRIPE_SECRET_KEY = ""

# Optional
TRANSCRIBE_CONCURRENCY=2
RUN_JOB_WORKER = 1